*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
body{margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;}
section{width:100%; max-width:1200px; margin:0px auto; display:table; position:relative;}
h1{margin:0px auto; display:table; font-size:26px; padding:20px 0px; color:#75737E; text-align:center;}
h1 span{font-weight:500;}

header{width:100%; display:table; background-color:#60E6DA; margin-bottom:10px;}

nav{width:auto; float:right;}
nav ul{display:table; float:right;}
nav ul li{float:left;}
nav ul li:last-child{padding-right:0px;}
nav ul li a{color:#75737E; font-size:12px; padding: 25px 20px; display:inline-block; transition: all 0.5s ease 0s;}
nav ul li a:hover{background-color:#75737E; color:#60E6DA; transition: all 0.5s ease 0s;}
nav ul li a:hover i{color:#60E6DA; transition: all 0.5s ease 0s;}
nav ul li a i{padding-right:10px; color:#75737E; transition: all 0.5s ease 0s;}

.toggle-menu ul{display:table; width:25px;}
.toggle-menu ul li{width:100%; height:3px; background-color:#75737E; margin-bottom:4px;}
.toggle-menu ul li:last-child{margin-bottom:0px;}

input[type=checkbox], label{display:none;}

@media only screen and (max-width: 1440px) {
section{max-width:95%;}
}

@media only screen and (max-width: 980px) {
header{padding:20px 0px;}
#logo{padding:0px;}
input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
input[type=checkbox]:fous{background:none;}
label {float:right; padding:8px 0px; display:inline-block; cursor:pointer; }
input[type=checkbox]:checked ~ nav {display:block;}

nav{display:none; position:absolute; right:0px; top:53px; background-color:#75737E; padding:0px; z-index:99;}
nav ul{width:auto;}
nav ul li{float:none; padding:0px; width:100%; display:table;}
nav ul li a{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
nav ul li a i{color:#60E6DA; padding-right:13px;}
}

@media screen and (max-width: 960px) {

    .news{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }


    .event{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .event p{
        width: 90%;
        text-align: justify;
    }

    .event img{
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .title_event{
        font-weight: bold;
        font-size: 4vw;
    }

    .date{
        margin-bottom: 0;
        margin-top: 20px;
        font-weight: bold;
        font-size: 3vw;

    }

    .p_event{
        font-size: 3vw;
    }

    hr{
        margin: 20px auto 20px auto;
    }

    .other_event{
        text-align: center;
        font-size: 3vw;
    }

    a{
        color: #60E6DA
    }
}

h2{
    text-align: center;
}

.intro {
    display: flex;
    flex-direction: column ;
    align-items: center;
}

.intro p {
    width: 80% ;
}

hr {
    width: 60% ;
}


.locaux {
    display : flex ;
    flex-direction: column ;
    align-items: center ;
}

.locaux p {
    width : 80% ;
}

@media only screen and (max-width: 980px) {
.content{width:90%;}
}

@media only screen and (max-width: 568px) {
h1{padding:25px 0px;}
h1 span{display:block;}
}

@media only screen and (max-width: 480px) {
section {max-width: 90%;}
}

.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin p {
    width: 80%;
    background-color: #60E6DA;
}

#residents {
    margin: 0 10%;
}
.art_resid_impair {
    display: flex;
    flex-direction: row;
    align-content: center;
}

.art_resid_impair p {
    padding-left: 5px;
    background-color: #60E6DA;
    border-radius: 10%;
    text-align: center;

}
.art_resid_pair {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.art_resid_pair p {
    border-radius: 10%;
    border: 5px;
    text-align: right;
    text
    background-color: #D9EFFF;
}

#residents h2 {
    text-align: center;
}


@media only screen and (max-width: 360px) {
h1{font-size:20px;}
label{padding:5px 0px;}

nav{top:47px;}
}

@media only screen and (max-width: 320px) {
h1 {padding: 20px 0px;}
}
@media screen and (min: 960px) {

}
#fotfot{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 10%;
  align-items: center;

}
#contact{
  background-color: #60E6DA;
  text-align: center;
  padding-top: 5%;
  justify-content: flex-start;

}
