/* Burger menu */

*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}
body{margin:0px; padding:0px; font-family: 'Open Sans', sans-serif;}
#burger{width:97%; max-width:97%; margin:0px auto; display:table; position:relative;}
h1{margin:0px auto; display:table; font-size:26px; padding:20px 0px; color:#75737E; text-align:center;}
h1 span{font-weight:500;}

header{width:99.5%; display:table; background-color:white; margin-bottom:10px; }

nav{width:auto; float:right;}
nav ul{display:table; float:right;}
nav ul li{float:left;}
nav ul li:last-child{padding-right:0px;}
nav ul li a{color:black; font-size:18px; padding: 15px 10px; display:flex; justify-content: flex-start;align-items: center;transition: all 0.5s ease 0s;}
nav ul li a:hover{background-color:#75737E; color:white; transition: all 0.5s ease 0s;}
nav ul li a:hover i{color:#60E6DA; transition: all 0.5s ease 0s;}
nav ul li a i{color:#75737E; transition: all 0.5s ease 0s;}

.toggle-menu ul{display:table; width:25px;}
.toggle-menu ul li{width:100%; height:3px; background-color:black; margin-bottom:4px;}
.toggle-menu ul li:last-child{margin-bottom:0px;}#burger{width:100%; max-width:1200px; margin-top:0px ; display:table; position:relative;}

input[type=checkbox], label{display:none;}

@media only screen and (max-width: 1440px) {
#burger{max-width:100%;}

}

@media only screen and (max-width: 920px) {
header{padding:20px 0px;}
#logo{padding:0px;}
input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
input[type=checkbox]:fous{background:none;}
label {float:right; padding:8px 0px; display:inline-block; cursor:pointer; }
input[type=checkbox]:checked ~ nav {display:block;}

nav{display:none; position:absolute; right:0px; top:53px; background-color:#75737E; padding:0px; z-index:99;}
nav ul{width:auto;}
nav ul li{float:none; padding:0px; width:100%; display:table;}
nav ul li a{color:#FFF; font-size:15px; padding:auto; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
nav ul li a i{color:#60E6DA; padding-right:auto;}
}

/* fin buger menu */

/* mise en page news */
    .news{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }


    .event{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image_event{
        width: 100%;
        margin: 20px;
        border-radius: 10px;
        border-width:1px 3px 3px 1px;
        border-style:solid;
        border-color:black;
    }

    .text_event{
        text-align: justify;
        width: 90%;
        margin: 0 auto 50px auto;
        font-family: 'Catamaran', sans-serif;
    }

    .title_event{
        margin-bottom: 30px;
        font-weight: bold;
    }

    .date{
        font-weight: bold;
    }

    .other_event{
        text-align: center;
    }

    .link_event{
        color: #60E6DA ;
    }

/* fin mise en page news */

/* Mise en page intro version mobile*/

#intro {
    width: 100% ;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    padding: 25px 0 ;

}

#intro img {
    padding: 20px 0 ;
}

#intro p {
    width: 75% ;
    padding: 25px 0 ;
    text-align: justify;

}

/* fin mise en page intro */

/* mise en page locaux version mobile */

#locaux h2 {
    text-align: center ;
}


.imlo {
    width: 100% ;
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    padding: 10px 0 ;
     
}

#locaux p {
        text-align: justify;
        width: 75%;
        margin: 0 auto 50px auto;
        padding: 15px 0 ;
}


/*fin mise en page locaux version mobile */




/*mise en page residents */

#admin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#admin h2{
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
}

#admin p {
    background-color: #60E6DA;
    font-family: 'Catamaran', sans-serif;
    color: white;
    text-align: center;

}

.group_img_admin{
    justify-content: space-evenly;
}

.art_resid_impair {
    background-color: #60E6DA;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.art_resid_impair p {
    margin-left: 10px;
    color: white;
    font-family: 'Catamaran', sans-serif;
}

.art_resid_pair {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.art_resid_pair p {
    margin-right: 10px;
    font-family: 'Catamaran', sans-serif;
    text-align: justify;
}

#residents h2 {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 900;
}

.photos_resid {
    opacity: 0.8;
    height: auto;
    width: 20%;
}

/*fin mise en page resident */




/* mise en page desktop locaux */
@media only screen and (min-width: 960px) {
    
    
    #locaux img {
        width: 700px ;
        margin: 20px ;
        border-radius: 10px ;
    }

    .imlo {
        display: flex ;
        flex-direction: row ;
        
    }

    #locaux p {
        width: 100% ;
        margin: 50px auto 50px auto ;
        text-align: justify ;
    }

    #admin img {
        width: 300px;
        height: 300px;
    }

    .photos_resid {
        width: 200px;
        height: 280px;
    }

    .imloimpaire p {
    margin-right: 5% ;
    }

    .imlopaire p {
    margin-left: 5% ;
    }

    /*mise en page residents desktop*/
    #residents {
        width: 80%;
        margin: 0 10%;
    }
    #residents article {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    margin-left: 10px;
    justify-content: space-between;  
}

    #residents article img{
    margin-bottom: 2Opx;
}

    #residents article_resid_impair p{
    width: 90%;
    color: white;
}
    #residents article_resid_pair p{
        width: 90%;
        color: black;
        margin-left: 10px;
}


}

/* fin mise en page desktop locaux */

/*footer */

#fotfot{
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: center;
  background-color: #60E6DA;


}
#mailme{
  background-color: #60E6DA;
  text-align: center;
  padding-top: 5%;

  color: black;
}
#backup{
  position: fixed;
  bottom: 10px;
  right: 10px;
}
#desktopfoot{
  display: none;


}
footer{
  background-color: #60E6DA;
}

/* fin footer */

@media only screen and (min-width: 750px) {
#fotfot{
  background-color: #75737E;
  display: flex;
  background: linear-gradient(to right, #60E6DA 0.1%,white 90%);
  margin-top: 10px;
  text-align: center;
  justify-content: center;
  height: auto;
  padding: 10px;
}

 #desktopfoot{
  display: flex;
  color: white;
  justify-content: flex-start;
  flex-wrap: wrap;
  background: linear-gradient(to right, #60E6DA 0.1%,white 90%);
  text-shadow: #60C9E6 1px 1px, #60C9E6 -1px 1px, #60C9E6 -1px -1px, #60C9E6 1px -1px;
}
#desktopfoot p{
  margin-top: 30px;
}

ul {
  margin-top: 50px;
  margin-right: 150px;
}

#burger{

  background: linear-gradient(to left, #60E6DA 0.1%,white 90%);
}

#mailme{
  display: none;
  }
.iframemap{
margin-left: 220PX;
box-shadow: 1px 1px 12px #60E6DA;
margin-top: 20px;
}
/* mise en page news */

.event{
    flex-direction: row;
}

.image_event{
    width: 700px;
}

.text_event{
    width: 100%;
    margin: 50px auto 50px auto;
}
/* fin mise en page news */

/* Mise en page admin*/

#admin img {
    width: 300px;
    height: 300px;
    margin: 0 100px;
}

.photos_resid {
    width: 10%;
    height: auto;
}

#admin p {
    background-color: white;
    color:black;
}

}
/* fin mise en page news */