* {
    box-sizing: border-box ;
}



@media screen and (max-width: 960px) {

    .news{
        display: flex;
        justify-content: center;
        width: 100%;
        height: auto;
    }

   
    .event{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px; 
    }

    .event p{
        width: 90%;
        text-align: justify;
    }

    .event img{
        display: block;
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .date{
        margin-bottom: 0;
    }
    }






}